body {
  margin: 0;
  padding: 0;
  font-family: Inter, serif;
}

.container {
  margin-top: 40px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.container2 {
  margin: 0;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.image {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .image {
    width: 100%;
    order: 1;
  }
  .main {
    width: 100%;
    order: 2;
  }
  .text-container {
    align-self: center;
  }
  .container2 {
    flex-direction: column;
    align-items: center;
  }
  .photo {
    width: 100%;
    order: 1;
  }
  .main2 {
    width: 100%;
    order: 2;
  }
}
.main {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  align-self: center;
  flex: 1;
}

.main2 {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  align-self: center;
  flex: 1;
}

.text-container2 {
  align-self: flex-start;
}

.text-block {
  margin: 5px;
  text-align: center;
  width: 100%;
}

.text-block2 {
  margin: 5px;
  text-align: center;
  width: 100%;
}

.photo {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.photo img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.text-container {
  align-self: flex-start;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 0 10px;
}

.text1, .text2, .text3, .text4, .text5, .text6, .text7 {
  text-align: left;
  color: #282828;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter, serif;
  font-style: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.text7 {
  font-size: 2vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.4px;
  margin-top: 3vw;
}

.text4 {
  font-size: 2vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.4px;
  margin-top: 3vw;
}

.text1 {
  font-size: 1.5vw;
  font-weight: 600;
  line-height: 1.2;
}

.text5 {
  font-size: 3vw;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.text6 {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.2;
}

.text2 {
  font-size: 3vw;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.text3 {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .text1 {
    font-size: 3vw;
    line-height: 1.2;
  }
  .text4 {
    font-size: 4vw;
    margin-top: 4vw;
  }
  .text7 {
    font-size: 4vw;
    margin-top: 4vw;
  }
  .text2 {
    font-size: 7vw;
    line-height: 1.2;
  }
  .text5 {
    font-size: 7vw;
    line-height: 1.2;
  }
  .text6 {
    font-size: 3vw;
    line-height: 1.2;
  }
  .text3 {
    font-size: 3vw;
    line-height: 1.2;
  }
}
.logo {
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.logo img {
  height: 1.5vw;
}

@media (max-width: 600px) {
  .logo img {
    height: 1vw;
  }
}
header {
  text-align: center;
}

nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  color: black;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter, serif;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 4vw;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

@media (min-width: 601px) {
  nav ul li {
    font-size: 1vw;
    line-height: 4vw;
  }
}
@media (min-width: 601px) {
  .logo {
    line-height: 4vw;
  }
}
.botton-container {
  text-align: left;
  margin-top: 100px;
}

.my-button {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.logos-section {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.logos-section img {
  max-width: 10vw;
  margin: 3vw;
}

@media (max-width: 600px) {
  .logos-section img {
    max-width: 13%;
    margin: 1em;
  }
  .logos-section {
    margin-top: 50px;
  }
}
.banner-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 100px;
  justify-content: center;
}

.banner-item {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
}

.img-container {
  position: relative;
  width: 100%;
  height: auto;
}

.img-container img {
  max-width: 100%;
  height: auto;
}

.caption {
  text-align: center;
  padding: 10px;
}

.small-text, .large-text {
  width: 100%;
  font-family: Inter, serif;
}

.small-text {
  font-size: 14px;
  color: grey;
}

.large-text {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

@media (max-width: 600px) {
  .banner-grid {
    flex-direction: column;
    align-items: center;
  }
  .banner-item {
    flex-basis: 100%;
  }
}
.bottom-text {
  margin-top: 170px;
  margin-bottom: 20px;
  text-align: center;
  color: #282828;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter, serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.4px;
}

.bottom-section {
  text-align: center;
  margin-top: 40px;
}

.bottom-large-text {
  color: #282828;
  text-align: center;
  margin-top: 20px;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.email-form {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.email-input {
  padding: 10px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-button {
  padding: 10px 20px;
  background-color: white;
  color: #282828;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.image-container {
  margin-top: 150px;
  position: relative;
  text-align: center;
  margin-bottom: 150px;
}

.full-width-image {
  width: 100%;
  display: block;
}

.text-overlay {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter, serif;
  text-align: center;
}

.text-block1 {
  padding: 20px;
}

.large-text {
  font-size: 4vw;
  color: #fff;
  text-align: center;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.4px;
}

.small-text {
  color: #FFF;
  font-size: 1.5vw;
  font-weight: 600;
  line-height: 32px;
  margin-top: 10px;
}

.medium-text {
  color: #FFF;
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .large-text {
    margin-top: 1vw;
    font-size: 3vw;
  }
  .medium-text {
    font-size: 2vw;
  }
  .small-text {
    font-size: 1vw;
  }
}
footer {
  padding: 20px;
  margin-top: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.left p {
  white-space: pre-wrap;
}

.social-icons {
  width: 3vw;
  margin-left: 2vw;
  display: flex;
  align-items: center;
}

.social-icons img {
  margin-left: 20px;
}

.columns {
  display: flex;
}

.element {
  padding: 0 20px;
}

.element h3 {
  font-size: 1vw;
  font-weight: bold;
}

.element ul {
  list-style: none;
  padding: 0;
  font-size: 1vw;
}

.element li {
  margin-bottom: 10px;
  color: #5F6980;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  align-items: center;
}

.logo1 {
  font-size: 2.5vw;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

p {
  margin: 0;
  font-size: 1.5vw;
}

.footer-right {
  font-size: 1vw;
  color: #5F6980;
}

/*# sourceMappingURL=index.css.map */
